.projects_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    overflow-y: scroll;

    .title{
        color: #fafafa;
        margin-top: 3em;
        font-size: 1.6rem;
    }
}

